.wid-50 {
    width: 49%;
    margin: 0px auto;
}
.text-justify.session_policy p {
    text-align: justify;
}
.sb_content-wrapper {
    display: flex;
    flex-direction: row-reverse;
}
.controls.sb_controls {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 68px;
}
/* .sb_content-wrapper .sb-form-fields {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 50px;
} */
.sb_controls .sb-call-audio {
    background: #ff0000ad;
    padding: 8px;
    color: #fff;
    border-radius: 50%;
    margin: 5px;
    width: 40px;
    height: 40px;
}
.sb_controls .sb-call-video {
    background: #ff0000ad;
    padding: 8px 8px;
    color: #fff;
    border-radius: 50%;
    margin: 5px;
    width: 40px;
    height: 40px;
  }
  .wid-60 {
    width: 59%;
    margin: 0 auto;
}
.wid-40 {
  width: 39%;
  margin: 0 auto;
}
.participant-actions {
  position: absolute;
  display: flex;
  right: 12px !important;
  top: 12px;
}








#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 120px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 1s 9s;
    animation: fadein 0.5s, fadeout 1s 9s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 120px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 120px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 120px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 120px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }